html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Balsamiq Sans', cursive;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
p,
a{
  margin: 0;
  padding: 0;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  /*background setup*/
  width: 100%;
  height: 100vh;
}
.pageFix{
  position: relative;
  min-height: 100vh;
}

.allWrapping{
  padding-bottom: 3rem;
}

.footerPosition{
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  padding-top: 3rem;
}
/* setup */

.styleTextU{
  text-transform: uppercase;
}

header img,
.imgSize { 
  width: 100%;
  max-width: 100%;
  position: relative;
}

header{
  display: flex;
  width: 100%;
  justify-content: center;
  padding:30px 0 45px;
  height: 10vh;
}
header h1{
  line-height: 4.5rem;
}

.pokeBallSize{
  width: 40px;
}

.flexing{
  display: flex;
}

.displayBoxFirst{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px 0 5px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
}

.hpBar{
  text-align: right;
}

.hpBarDecor{
  position: absolute;
  top:calc(100% - 3px);
  left: -4px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border:4px solid black
}

.hpBarDecorTwo{
  position: absolute;
  top: -4px;
  left: -4px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border:4px solid black
}

.hpBarDecorThr{
  position: absolute;
  top:-4px;
  right: -4px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border:4px solid black
}

.hpBarDecorFou{
  position: absolute;
  top:calc(100% - 3px);
  right: -4px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border:4px solid black
}


.displayBoxSec{
  margin-top:5px;
  padding:5px;
  line-height: 2.1rem;
  border:2px solid black;
  position: relative;
}

.displayBoxThr{
  display: flex;
  flex-direction: column;
  padding:3px;
  margin-top:10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
}

.displaySpace {
  padding: 30px;
  width: 310px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; 
  column-gap: 10px;
  row-gap: 10px;
}

.mainSpace {
  display: flex;
  justify-content: space-evenly;
}

.userInputBox {
  padding:0 30px;
}

.enemyInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectStage {
  padding: 15x;
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; 
  column-gap: 10px;
  row-gap: 10px;
  text-align: center;
}

/* badge */
.badgeOne{
  width:50px;
  height:50px;
}

.checkmark{
  width:20px;
  height:20px;
  position: absolute;
  top:30px;
  left:54%;
}

.center{
  text-align: center;
  padding:20px 0;
}

.musicPosition{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:25%;
  left:0px;
}
.musicIndiv{
  padding: 12px 7px 7px;
  margin-bottom: 10px;
  transition: box-shadow 0.05s ease-in-out;
  font-size:2rem;
}

main,button{
  font-family: 'Khula', sans-serif;
}

footer p {
  text-align: center;
}

/* MainSubBattleUI css*/
.BattleUIScreen{
  margin: 30px auto 20px;
  width:600px;
  background-color: white;
  border:1px solid black;
  position: relative;
}

.startButton{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.enemyUI{
  text-align: center;
  display: flex;
  justify-content: right;
  align-items: center;
}

.playerUI{
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
}

.playerSelectChoiceUI{
  width:30%;
}

.updateBoardUI{
  width:70%;
}

/* Music */
.musicIndiv:hover,
.musicIndiv:focus{
  cursor: pointer;
  box-shadow: 0 0 10px 7px rgba(0,0,0,0.5),0 0 2px rgba(0,0,0,0.5) inset;
}

.musicIndiv:active{
  cursor: pointer;
  box-shadow: 0 0 10px 7px rgba(0,0,0,0.5),0 0 2px 3px rgba(0,0,0,0.5) inset;
}

.cpuPokemon{
  display: flex;
  align-items: center;
}

/* WildButton */
.wildButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color: white;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.wildButton:hover,
.wildButton:focus {
	background-color:#5cbf2a;
}

.wildButton:active {
	position:relative;
	top:1px;
}

.wildButton:disabled,
.gymButton:disabled{
  background-color:rgb(99, 99, 99);
  border:1px solid rgb(99, 99, 99);
  color:white;
}

/* inputbox */
.inputBoxPlace{
  box-shadow: 0 0 0 1px grey;
  }

.inputBoxPlace:focus,
.inputBoxPlace:hover{
box-shadow: 0 0 0px 1.5px #127c1f; 
}

.textBox{
  margin: 80px 0;
}
/* start button */
.battleButton {
  position:relative;
  overflow:hidden;
  background:#fff5d7;
  transition:all 0.15s;
  padding:20px 40px;
  margin: 80px 0;
 }
 
 .battleButton::before {
   content:'START';
   position:absolute;
   display:flex;
   align-items:center;
   justify-content:center;
   top:0;
   left:0;
   background:#44c767;
   height:100%;
   width:100%;
   transform:scale(5);
   opacity:0;
   transition:0.3s;
   color:white;
 }
 .battleButton:hover::before,
 .battleButton:focus::before {
   transform:scale(1);
   opacity:1;
 }

 /* gym Button */
.gymButton {
  position: relative;
  background-color: #BF5FFF;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  transition-duration: 0.3s;
  margin:0 0 5px 0;
  cursor: pointer;
}

.gymButton:hover,
.gymButton:focus{
 background:#4B0082;
 box-shadow:0px 0px 10px 5px #84adc5;
 color:white;
}

.gymButton:active{
  background-color: rgb(47, 130, 224);
  transition-duration: 0.1s;
}